

.Interests{
    width: 250px;
    margin: 15px auto;
    padding-bottom: 20px;
}
.Interests h3 {
 font-size: 16px;
 color: white;
 font-weight: bold;
 margin-bottom: 5px;
}
.Interests p{
    font-size: 11px;
    line-height: 1.5;
    color: #DCDCDC;
    
}